@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes zoom-in {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.animate-zoom-in {
  animation: zoom-in 0.2s ease-out;
}